@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body{
    padding:0;
    margin:0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.parent-navbar
{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.ul-list
{
    display: flex;
}

.ul-list li
{
    list-style-type: none;
    padding:0px 10px;
}

.ul-list li:hover
{
    font-weight: bold;
}

.hero
{
    width:100vw;
    height:91vh;
    background-image: url('./Images/bg.webp');
    background-size: cover;
    color:white;
    text-align:center;
    padding-top:25vh;
    text-shadow:3px 3px 3px black;
    box-sizing: border-box;
}

.hero h1{
    font-size: 50px;
    margin-bottom:5px;
}

.hero p
{
    font-size: 20px;
}

.btn
{
    width:20%;
    padding:12px;
    font-size:15px;
    cursor: pointer;
    margin-top:10px;
    border-radius: 6px;
}

.btn:hover{
    background-color: black;
    color:white;
    transition: 0.5s ease-in-out;
}

/* Property will Be define for (0-500px) */

@media (max-width:500px)
{
    .hero h1
    {
        font-size: 30px;
    }

    .hero{
        padding-top:15vh;
    }

    .btn{
        width:80%;
    }
}

.card
{
    width:320px;
    border:1px solid rgb(179, 177, 177);
    border-radius: 12px;
    padding:5px;
    cursor: pointer;
}

.card:hover
{
    -webkit-box-shadow:0px 0px 20px grey;
    box-shadow:0px 0px 20px grey;
    transition: 0.5s ease-in-out;
}

.card h3{
    margin:9px 0px;
}

.card p{
    margin:8px 0px;
    text-align: justify;
}

.parent-image
{
    width:320px;
    height:200px;
    box-sizing: border-box;
}

.parent-image img{
    width:100%;
    height:100%;
    border-radius: 12px;
}

.order
{
    width:100%;
    padding:10px;
    background-color: black;
    color:white;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.parent-card
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

@media (max-width:350px)
{
    .card{
        width:250px;
    }

    .parent-image
    {
        width:250px;
        height:150px;
    }

    .yus-card{
        width:250px;
    }
}

@media (max-width:995px)
{
    .card{
        margin-bottom: 20px;
    }
}

.yus-parent
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.yus-card
{
    width:360px;
    text-align: center;
    background-color: black;
    color:white;
    border:1px solid rgb(0, 0, 0);
    padding:25px 15px;
}

.yus-card h3{
    margin:9px 0px;
}

.yus-card p{
    margin:8px 0px;
}

.menu-parent
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.menu
{
    margin-bottom:20px;
}

.footer
{
    background-color: black;
    color:white;
    padding:30px;
    text-align: center;
}

a{
    text-decoration: none;
    color:black;
    cursor: pointer;
}